# Project 6 - Boat & Yacht Sales

# 01. Importing libraries

In [13]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Import Data

In [14]:
# create a path
path = r'C:\Users\niels\Documents\Sales Boat\Data Source'

In [15]:
# load data
df = pd.read_csv(os.path.join(path,'boat_data.csv'), index_col = False)

In [16]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days;
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017.0,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226;
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020.0,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75;
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0.0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124;
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020.0,3.00,1.00,NaN,Denmark Â» Svendborg,64;
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019.0,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58;

In [17]:
# check the shape of the dataframe
df.shape

(9893, 10)

In [18]:
# check the information of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9893 entries, 0 to 9892
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Price                         9893 non-null   object
 1   Boat Type                     2028 non-null   object
 2   Manufacturer                  1521 non-null   object
 3   Type                          2021 non-null   object
 4   Year Built                    2026 non-null   float64
 5   Length                        2021 non-null   float64
 6   Width                         2008 non-null   float64
 7   Material                      1478 non-null   object
 8   Location                      2026 non-null   object
 9   Number of views last 7 days;  2026 non-null   object
dtypes: float64(3), object(7)
memory usage: 773.0+ KB

In [19]:
df.describe()

        Year Built       Length        Width
count  2026.000000  2021.000000  2008.000000
mean   1864.637216    11.081712     3.395911
std     510.446569     6.334679     1.232612
min       0.000000     2.790000     0.910000
25%    1993.000000     6.700000     2.480000
50%    2008.000000     9.950000     3.235000
75%    2019.000000    13.380000     4.160000
max    2021.000000   100.000000    15.000000

In [20]:
df[df['Boat Type'].isnull()]

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days;
6,"CHF 3600,Catamaran,,""Used boat,Unleaded"",1999,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"CHF 3500,Fishing Boat,Terhi power boats,""Used ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"CHF 4500,Fishing Boat,Italmarine power boats,""...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,"CHF 4400,Deck Boat,Buster power boats,""new boa...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"EUR 4000,Pilothouse,BÃ©nÃ©teau power boats,""Us...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
9881,"CHF 5000,Pilothouse,Lambro power boats,""Used b...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9883,"CHF 4999,""Sport Boat,Wakeboard/Wakesurf,Water ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9887,"CHF 4950,Fishing Boat,Staempfli power boats,""U...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9888,"CHF 4900,Sport Boat,Sea Ray power boats,""Used ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9890,"EUR 4499,Sport Boat,BlueCraft power boats,""new...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
df = df.dropna()

In [22]:
df[df['Boat Type'].isnull()]

Empty DataFrame
Columns: [Price, Boat Type, Manufacturer, Type, Year Built, Length, Width, Material, Location, Number of views last 7 days;]
Index: []

# 03 Data Wrangling

In [23]:
# change the currency to the same unit
# split the price column
df['Currency'] = df.loc[:,'Price'].str.slice(0,3)

In [24]:
# count of curreny used
df['Currency'].value_counts(dropna = False)

EUR    883
CHF    150
DKK     24
Â£       1
Name: Currency, dtype: int64

In [25]:
# split the price 
df['Price'] = df['Price'].str.replace(r'[A-Z\D\W]', '')

C:\Users\niels\AppData\Local\Temp\ipykernel_18908\2924858916.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price'] = df['Price'].str.replace(r'[A-Z\D\W]', '')

In [26]:
df['Price'] = pd.to_numeric(df['Price'])

In [27]:
# change data type of price to interger
df.dtypes

Price                             int64
Boat Type                        object
Manufacturer                     object
Type                             object
Year Built                      float64
Length                          float64
Width                           float64
Material                         object
Location                         object
Number of views last 7 days;     object
Currency                         object
dtype: object

In [28]:
# convert currency
def eurprice(Price,Currency):
    if Currency=='CHF':
        return Price * 0.99
    elif Currency=='DKK':
        return Price * 0.13
    elif Currency=='Â£':
        return Price * 1.14
    else:
        return Price

In [29]:
df['EUR_price'] = df.apply(lambda x: eurprice(x.Price, x.Currency), axis=1)

In [30]:
#check the dataframe
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days;,Currency,EUR_price
1,3490,Center console boat,Terhi power boats,new boat from stock,2020.0,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75;,EUR,3490.0
2,3770,Sport Boat,Marine power boats,new boat from stock,0.0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124;,CHF,3732.3
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019.0,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58;,EUR,3399.0
5,3650,Sport Boat,Linder power boats,new boat from stock,0.0,4.03,1.56,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,132;,CHF,3613.5
11,3480,Fishing Boat,Marine power boats,new boat from stock,0.0,4.13,1.41,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa am ZÃ¼...,145;,CHF,3445.2

In [31]:
# extract Country and City from Location
df[['Country','City','Standing_point']]= df['Location'].str.split('Â»', 2, expand=True)

In [32]:
# check the dataframe
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days;,Currency,EUR_price,Country,City,Standing_point
1,3490,Center console boat,Terhi power boats,new boat from stock,2020.0,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75;,EUR,3490.0,Germany,BÃ¶nningstedt,None
2,3770,Sport Boat,Marine power boats,new boat from stock,0.0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124;,CHF,3732.3,Switzerland,Lake of Zurich,StÃ¤fa ZH
4,3399,Fishing Boat,Linder power boats,new boat from stock,2019.0,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58;,EUR,3399.0,Germany,Bayern,MÃ¼nchen
5,3650,Sport Boat,Linder power boats,new boat from stock,0.0,4.03,1.56,Aluminium,Switzerland Â» Lake Constance Â» Uttwil,132;,CHF,3613.5,Switzerland,Lake Constance,Uttwil
11,3480,Fishing Boat,Marine power boats,new boat from stock,0.0,4.13,1.41,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa am ZÃ¼...,145;,CHF,3445.2,Switzerland,Lake of Zurich,StÃ¤fa am ZÃ¼richsee

In [33]:
# Drop the redundant columns
df = df.drop(['Price','Currency','Location','Standing_point'],axis = 1)

In [34]:
df.head()

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days;,EUR_price,Country,City
1,Center console boat,Terhi power boats,new boat from stock,2020.0,4.00,1.50,Thermoplastic,75;,3490.0,Germany,BÃ¶nningstedt
2,Sport Boat,Marine power boats,new boat from stock,0.0,3.69,1.42,Aluminium,124;,3732.3,Switzerland,Lake of Zurich
4,Fishing Boat,Linder power boats,new boat from stock,2019.0,3.55,1.46,Aluminium,58;,3399.0,Germany,Bayern
5,Sport Boat,Linder power boats,new boat from stock,0.0,4.03,1.56,Aluminium,132;,3613.5,Switzerland,Lake Constance
11,Fishing Boat,Marine power boats,new boat from stock,0.0,4.13,1.41,Aluminium,145;,3445.2,Switzerland,Lake of Zurich

# 04. Cleaning

In [35]:
#check for missing values
df.isnull().sum()

Boat Type                         0
Manufacturer                      0
Type                              0
Year Built                        0
Length                            0
Width                             0
Material                          0
Number of views last 7 days;      0
EUR_price                         0
Country                           0
City                            126
dtype: int64

In [36]:
# check the shape of the clean dataframe
df.shape

(1058, 11)

In [37]:
# check for basic statistics
df.describe()

        Year Built       Length        Width     EUR_price
count  1058.000000  1058.000000  1058.000000  1.058000e+03
mean   1862.903592    10.255681     3.271257  2.358675e+05
std     518.662199     4.995700     1.116841  7.193321e+05
min       0.000000     3.000000     1.410000  3.399000e+03
25%    1996.000000     6.455000     2.442500  2.655775e+04
50%    2008.000000     9.100000     3.000000  5.993150e+04
75%    2019.000000    12.970000     4.100000  1.793750e+05
max    2021.000000    46.910000     9.300000  1.050000e+07

In [38]:
# drop the years with 0
df = df[df['Year Built']!=0]

In [39]:
df.describe()

        Year Built      Length       Width     EUR_price
count   982.000000  982.000000  982.000000  9.820000e+02
mean   2007.079430   10.565631    3.348574  2.503645e+05
std      13.561421    5.000553    1.103716  7.442684e+05
min    1923.000000    3.000000    1.460000  3.399000e+03
25%    2000.000000    6.702500    2.490000  2.950000e+04
50%    2009.000000    9.500000    3.100000  6.637000e+04
75%    2019.000000   13.200000    4.157500  1.890000e+05
max    2021.000000   46.910000    9.300000  1.050000e+07

In [40]:
df

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Number of views last 7 days;,EUR_price,Country,City
1,Center console boat,Terhi power boats,new boat from stock,2020.0,4.00,1.50,Thermoplastic,75;,3490.0,Germany,BÃ¶nningstedt
4,Fishing Boat,Linder power boats,new boat from stock,2019.0,3.55,1.46,Aluminium,58;,3399.0,Germany,Bayern
12,Sport Boat,GS Nautica power boats,Used boat,2004.0,4.70,2.00,GRP,69;,3500.0,Italy,Lake Garda
13,Runabout,Kimple power boats,new boat from stock,2020.0,4.40,1.65,Aluminium,113;,4554.0,Switzerland,Zugersee
20,Fishing Boat,Linder power boats,new boat from stock,2019.0,3.55,1.46,Aluminium,69;,3999.0,Germany,Bayern
...,...,...,...,...,...,...,...,...,...,...,...
9845,Motor Yacht,Cranchi power boats,Used boat,1981.0,5.75,2.27,GRP,489;,6732.0,Switzerland,Luganersee
9856,Fishing Boat,Atlantis power boats,Used boat,2020.0,4.90,1.70,Aluminium,135;,5950.0,Germany,Mecklenburg-Vorpommern
9877,Sport Boat,BlueCraft power boats,new boat from stock,2020.0,5.10,2.16,GRP,203;,4799.0,Germany,Wesel
9882,Cabin Boat,Princess power boats,Used boat,1974.0,7.20,2.70,GRP,1299;,4950.0,Switzerland,Rhein
9892,Fishing Boat,DarekCo power boats,new boat from stock,2019.0,3.60,1.60,GRP,194;,3742.2,Switzerland,Brienzersee

In [41]:
df.dtypes

Boat Type                        object
Manufacturer                     object
Type                             object
Year Built                      float64
Length                          float64
Width                           float64
Material                         object
Number of views last 7 days;     object
EUR_price                       float64
Country                          object
City                             object
dtype: object

In [42]:
# check for mixed data type
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

City

Get rid of the unnecessary semicolons in the *views* column
---

In [55]:
# check for the shape of the cleaned dataframedf
df.shape
df["Number of views last 7 days"] = df["Number of views last 7 days;"].apply(lambda s:s.replace(";", ""))
del df["Number of views last 7 days;"]

,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,EUR_price,Country,City,Number of views last 7 days
1,Center console boat,Terhi power boats,new boat from stock,2020.0,4.00,1.50,Thermoplastic,3490.0,Germany,BÃ¶nningstedt,75
4,Fishing Boat,Linder power boats,new boat from stock,2019.0,3.55,1.46,Aluminium,3399.0,Germany,Bayern,58
12,Sport Boat,GS Nautica power boats,Used boat,2004.0,4.70,2.00,GRP,3500.0,Italy,Lake Garda,69
13,Runabout,Kimple power boats,new boat from stock,2020.0,4.40,1.65,Aluminium,4554.0,Switzerland,Zugersee,113
20,Fishing Boat,Linder power boats,new boat from stock,2019.0,3.55,1.46,Aluminium,3999.0,Germany,Bayern,69
...,...,...,...,...,...,...,...,...,...,...,...
9845,Motor Yacht,Cranchi power boats,Used boat,1981.0,5.75,2.27,GRP,6732.0,Switzerland,Luganersee,489
9856,Fishing Boat,Atlantis power boats,Used boat,2020.0,4.90,1.70,Aluminium,5950.0,Germany,Mecklenburg-Vorpommern,135
9877,Sport Boat,BlueCraft power boats,new boat from stock,2020.0,5.10,2.16,GRP,4799.0,Germany,Wesel,203
9882,Cabin Boat,Princess power boats,Used boat,1974.0,7.20,2.70,GRP,4950.0,Switzerland,Rhein,1299
9892,Fishing Boat,DarekCo power boats,new boat from stock,2019.0,3.60,1.60,GRP,3742.2,Switzerland,Brienzersee,194

Remove all unnecessary spaces
---

In [60]:
df.Country = df.Country.apply(lambda s:s.strip())

## Export clean dataframe

In [61]:
df.to_csv(os.path.join(path,'boat_data_cleaned_V2.csv'), index=False)